body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

h1, h2 {
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: #888;
}
.book-item {
    flex: 1 0 21%;
    margin: 1%;
}

.books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.books li {
    margin-bottom: 10px;
    list-style: none;
    flex-basis: calc(33.33% - 2em);
    margin: 1em;
    background-color: #f8f8f8;
    padding: 1em;
    box-sizing: border-box;
}
.books img {
    width: 100%;
    height: auto;
}
.mylist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

