{% extends 'base.html' %}

{% block title %} Book List {% endblock %}

{% block content %}
<h3>Book List</h3>
    
{% for book in books %}
    <p>{{ book.id }}</p>
    <h3>{{ book.author }}</h3>
    <h3>{{ book.publication_date }}</h3>
    <h3>{{ book.publisher }}</h3>
    <img src="{url '{{ book.image }}'}" alt="image">
    <h3>{{ book.genres }}</h3>
    <h3>{{ book.quantity }}</h3>
    
    <a href="{% url 'book_detail' book.id %}">Detail</a>
    <a href="{% url 'book_update' book.id %}">Update</a>
    <a href="{% url 'book_delete' book.id %}">Delete</a>
    <hr>
    
{% endfor %}
    
{% endblock %}
