{% extends 'base.html' %}
{% load static %}
{% block title %} Index Page {% endblock %}

{% block content %}
<h1>Welcome to My Online Library!</h1>
    <nav class="nav-links">
    <a href="{% url 'manage_borrows' %}" class="nav-link">Manage Borrows</a> |
    <a href="{% url 'author_create' %}" class="nav-link">Author Create</a> |
    <a href="{% url 'author_list' %}" class="nav-link">Author List</a> |
    <a href="{% url 'genre_create' %}" class="nav-link">Genre Create</a> |
    <a href="{% url 'genre_list' %}" class="nav-link">Genre List </a> |
    <a href="{% url 'publisher_create' %}" class="nav-link">Publisher Create</a> |
    <a href="{% url 'publisher_list' %}" class="nav-link">Publisher List</a> |
    <a href="{% url 'book_create' %}" class="nav-link">Book Create</a> |
    <a href="{% url 'book_list' %}" class="nav-link">Book List</a> |
    <a href="{% url 'borrow_create' %}" class="nav-link">Borrow Create</a> |
    <a href="{% url 'borrow_list' %}" class="nav-link">Borrow List</a> |
    </nav>

    <h2>The list of books</h2>
        <div class="books">
        {% for book in books %}
        <li class="book-item">
            <div>Book ID: {{ book.id }}</div>
            <div>Book Title: {{ book.title }}</div>
            <div>Book Author: {{ book.author }}</div>
            <img src="{{ book.image.url }}" alt="image">
            <div>Available Copies: {{ book.quantity }}</div>
            {% if book.quantity > 0 %}
                <form method="get" action="{% url 'borrow_create_by_id' book.id %}">
                    <button type="submit" class="button">Borrow</button>
                </form>
            {% else %}
                <div>Not Available</div>
            {% endif %}
        </li>
        {% endfor %}
    </div>

{% endblock %}
